.App{
    background-image: url('https://media.istockphoto.com/id/1367756024/vector/green-watercolor-background-illustration.jpg?s=612x612&w=0&k=20&c=0NharLiQndU9LeBxt0Lr3RvjngfnUwokM3PhvWqWhV0='); 
    background-size: cover;  
    background-position: center;
  background-repeat: no-repeat;
    height: 100vh;
}
.headings{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4.6vh;
    font-weight: bolder;
    border-bottom: 1.5px solid #19A519;
    
    color: #19A519;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px; */
}